In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('dataset.csv')

In [3]:
dataset.head(10)

  Grad DenNok ItenPovik Opasnost
0   ne    nok        ne   Visoka
1   ne    nok        da   Visoka
2   ne    nok        da    Niska
3   ne    den        ne    Niska
4   ne    den        ne    Niska
5   da    nok        ne   Visoka
6   da    nok        ne   Visoka
7   da    den        da    Niska
8   da    den        da    Niska
9   da    den        da   Visoka

<h3>Честота на појавување на класната лабела</h3>

In [18]:
dataset["Grad"].value_counts()

da    5
ne    5
Name: Grad, dtype: int64

In [36]:
len(dataset["Grad"])

10

<h3>Честоти на појавување на карактеристиката Град при дадена класна лабела</h3>

<p>При дадена <i>Опасност = Visoka</i></p>

In [45]:
dataset.loc[dataset['Opasnost'] == "Visoka"][['Grad','Opasnost']]

  Grad Opasnost
0   ne   Visoka
1   ne   Visoka
5   da   Visoka
6   da   Visoka
9   da   Visoka

In [46]:
dataset.loc[dataset['Opasnost'] == "Visoka"]['Grad'].value_counts(sort=False)

ne    2
da    3
Name: Grad, dtype: int64

<p>При дадена <i>Оpasnost = Niska</i></p>

In [47]:
dataset.loc[dataset['Opasnost'] == "Niska"][['Grad','Opasnost']]

  Grad Opasnost
2   ne    Niska
3   ne    Niska
4   ne    Niska
7   da    Niska
8   da    Niska

In [34]:
dataset.loc[dataset['Opasnost'] == "Niska"]['Grad'].value_counts(sort=False)

ne    3
da    2
Name: Grad, dtype: int64

<h3>Честоти на појавување на карактеристиката DenNok при дадена класна лабела</h3>

<p>При дадена <i>Оpasnost = Visoka</i></p>

In [49]:
dataset.loc[dataset['Opasnost'] == "Visoka"][['DenNok','Opasnost']]

  DenNok Opasnost
0    nok   Visoka
1    nok   Visoka
5    nok   Visoka
6    nok   Visoka
9    den   Visoka

In [50]:
dataset.loc[dataset['Opasnost'] == "Visoka"]['DenNok'].value_counts(sort=False)

nok    4
den    1
Name: DenNok, dtype: int64

<p>При дадена <i>Оpasnost = Niska</i></p>

In [51]:
dataset.loc[dataset['Opasnost'] == "Niska"][['DenNok','Opasnost']]

  DenNok Opasnost
2    nok    Niska
3    den    Niska
4    den    Niska
7    den    Niska
8    den    Niska

In [52]:
dataset.loc[dataset['Opasnost'] == "Niska"]['DenNok'].value_counts(sort=False)

nok    1
den    4
Name: DenNok, dtype: int64