In [2]:
import pandas as pd
from sklearn.naive_bayes import CategoricalNB
from sklearn.preprocessing import OrdinalEncoder

<h3>Вчитување и приказ на податочното множество</h3>

In [3]:
dataset = pd.read_csv('dataset.csv')

In [5]:
dataset

  Grad DenNok ItenPovik Opasnost
0   ne    nok        ne   Visoka
1   ne    nok        da   Visoka
2   ne    nok        da    Niska
3   ne    den        ne    Niska
4   ne    den        ne    Niska
5   da    nok        ne   Visoka
6   da    nok        ne   Visoka
7   da    den        da    Niska
8   da    den        da    Niska
9   da    den        da   Visoka

<h3>Иницијализација и тренирање на Наивен Баесов класификатор од sklearn модулот</h3>

In [9]:
dataset_list = dataset.values.tolist()
train_x = [row[:-1] for row in dataset_list]
train_y = [row[-1] for row in dataset_list]

encoder = OrdinalEncoder()
encoder.fit(train_x)

train_x = encoder.transform(train_x)

clf = CategoricalNB(alpha=2.0)
clf.fit(train_x, train_y)

CategoricalNB(alpha=2.0, class_prior=None, fit_prior=True)

<h3>Предикција на примерок</h3>

In [14]:
case1 = ['ne','den','da']
case1 = encoder.transform([case1])

<p>Пресметка на веројатностите за припадност во класите на нашиот примерок</p>

In [21]:
pd.DataFrame(clf.predict_proba(case1), columns=clf.classes_).style.set_caption("P(Opasnost | Case1)")

<p>Расудување според Наивен Баесов класификатор за класната припадност на примерокот</p>

In [19]:
clf.predict(case1)[0]

'Niska'