# Imports

In [1]:
import pandas as pd
from matplotlib import pyplot as plt

# Data import

In [2]:
df = pd.read_csv('Placement_Data_Full_Class.csv')

In [3]:
df = df.drop(columns=['sl_no'])

In [4]:
df.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

# Data pre-processing

## Missing values

In [5]:
df.isna().sum()

gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

## Handling missing values

There are 67 missing values for the salary, so they will be replaced by the mean salary

In [6]:
mean = df['salary'].mean()
print(f'The mean salary is {mean}')

The mean salary is 288655.4054054054

In [7]:
df['salary'] = df['salary'].fillna(mean)

In [8]:
df.isna().sum()

gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

There are not any missing values, so we can continue with the next step of the pre-processing.

## Binning

# Questions
<ul>
<li>Which factor influenced a candidate in getting placed?</li>
<li>Does percentage matters for one to get placed?</li>
<li>Which degree specialization is much demanded by corporate?</li>
<li>Play with the data conducting all statistical tests.</li>
<ul>